.top{
    margin-top: 25px;
    
    color: #fff;
    margin: 0 auto;
    padding: 10px;
}
header{
    text-transform: uppercase;
    font-family: Tahoma;
    background-color: rgba(0,186,255,0.77);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
body {
    background-image: url(back.png);
    background-attachment: fixed;
    font-family: Tahoma;
    margin: 0;
}

#logo {
    float: left;
    width: 100px;
    height: 100px;
}

.mymagicoverbox_fenetre{
    left:-225px;
    width:450px;
}

#box_1{
    margin: 0, auto;
}

.mymagicoverbox {
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-weight: 300;
    font-family: Tahoma;
    background-color:#5200a5;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.mymagicoverbox:hover {
	transform: scale(1.1);
}

.mymagicoverbox_fenetre {
    z-index: 9999;
    position: fixed;
    margin-left: 50%;
    top: 100px;
    text-align: center;
    display: none;
    padding: 5px;
    background-color: rgba(0,186,255,1);
    color: #FFF;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    font-family: Tahoma;
}

.mymagicoverbox_fenetreinterieur {
    text-align: center;
    overflow: auto;
    padding: 10px;
    color: #FFF;
    font-weight: 400;
    font-family: Tahoma;
    font-size: 17px;
    border-top: 1px solid #FFF;
    margin-top: 10px;
}

.mymagicoverbox_fermer {
    color: #FFF;
    background-color: #5200a5;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    font-style: bond;
    font-family: Tahoma;
    width:100px;
    padding-bottom: 2px;
    border-color: #FFF;
}
.mymagicoverbox_fermer:hover {
  transform: scale(1.1);  
}

#myfond_gris {
    display: none;
    background-color: rgba(0,186,255,1);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ajaxForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}

h1 {
    margin: 0;
    padding: 30px;
}

.fond {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sendButon {
    padding-top: 5px;
    padding-bottom: 5px;
}
